:root {
    --titleColor : #0975f5;
}

body {
    background: #f3f5f6;  
    font-family: Verdana,Geneva,sans-serif; 
    font-size: 15px;
}

/*header*/
#header .container-fluid {
    padding-left: 85px;
    padding-right: 85px;
}

#header {
    background: #000 ;
}
    /*header top*/

      #headerTitle {
        color: #fff;
      }      

    /*/header top*/

    /*header midle*/

            /*header logo*/
            #headerLogo {
                text-decoration: none;
                font-size: 30px;
                color: #fff;
                font-weight: bolder;
            }

            /*search*/

            #headerSearch {
                position: relative;
            }

            #formSearch {
                width: 100%;
                margin: 0;
            }

            #boxSearch {
                flex: 1;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                height: 45px;
            }

            #btnSearch {
                width: 80px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                height: 45px;
            }

            #ajaxSearch {
                position: absolute;
                top: 90%;
                width: 100%;
                z-index: 200;
            }

            #ajaxSearch li a {
                font-size: 13px;
                display: block;
                width: 100%;
                height: 100%;
                padding: 5px;
                text-decoration: none;
            }
            .ajax_search_item:hover a {
                text-decoration: none;
            }

            .item_result_text h5 {
                font-size: 13px;
            }

            .item_result_text span {
                color: red;
            }

            /*header link*/
            #headerListLink>li {
                max-width: 33%;
                /*overflow: hidden;*/
            }
            #headerListLink>li,  #headerListLink>li>a {
                display: flex;
                align-items: center;
            }

            #headerListLink>li>a>span:first-child {
                margin-right: 8px !important;
            }

            #headerListLink>li>a {
                color: #fff;
            }

            #account .dropdown-menu {
                position: absolute;
                top: 80%;
                z-index: 200;
            }

            #shoppingCartIndex {
               display: block;
               top: -8px;
               right: -5px;
               /*width: 15px;
               height: 15px;
               border-radius: 50%;
               text-align: center;
               font-size: 12px;
               background: green;*/
            }

    /*/header midle*/

/*/header*/

/*navbar*/

    #navbar {
       background: #fed101;
       padding-left: 85px;
       padding-right: 85px;
       z-index: 100;
    }

    #navbar .navbar-nav .dropdown .dropdown-menu {
        position: absolute;
        top: 90%;
        z-index: 10000;
    }

     #navbar ul li {
        padding-right: 15px;
     }

     #navbar ul li:hover>a {
        color: #6d91e4 !important;
     }
    #navbar li>a {
        color: #000 !important;
        font-weight: bold;
    }

    #navbar ul>li>a:first-child {
        padding-left: 0px !important;
    }

   #navbar .active>a {
    color:red !important;
   }
    /*/navbar*/

/*slide*/
    #slide {
        position: relative;
    }

    #slide img {
        width: 100% !important;
        height: 400px !important;
    }

    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 10px;
    }
/*/slide*/

/*category*/
#category .card-deck {
    
}

#category .card-group .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#category h2 {
    color:var(--titleColor);
}

.category_item {
    position: relative;
}
.category_info {
    position: absolute;
    left: 20px;
    bottom: 10px;
    min-width: 150px;
    padding:10px 10px;
    background: #f3f5f6;
}

.category_info p {
    color: black;
    margin: 0;
}

.list_product_body {
   
}
/*/category*/

/*list brand*/
#listBrand {
    padding: 20px 0px !important;
    position: relative
    z-index:-1;
}

#listBrand a{
    width: 12.5%;
    border-radius: 0px;
}

/*/list brand*/

/*product*/

.product h2 {
    color: var(--titleColor);
}
.product_bar span, .product_bar a {
    font-size:14px;
    color:#fff;
}
.product .card {
   /* display: flex;
    flex-direction: column;
    align-items: center;*/
    position: relative;
}

.product .card .card-body {
    padding: 20px 10px;
}

.product .card .card-body .card-title {
    font-size: 13px;
    font-weight: bolder;
}

.product .card .card-body .card-subtitle {
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 8px;
}

.product .card .card-body .btn {
    max-width: 150px;
}

.product .card .card-img-top {
    margin-top: 10px;
    width: 60%;
}

.product .card:hover .card-img-top{
    transform: scale(1.1, 1.1);
}


.product .card .product_status {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 13px;
    z-index: 1;
}

/*/product*/

/*news*/
#news h2 {
     color: var(--titleColor);
}

#news .list_news {
   
}

#news .card h5 {
    font-size : 16px;
}
#news .card .nav {
    font-size : 13px;
}
/*/news*/
/*footer*/
#footer .row {
    padding-left: 85px;
    padding-right: 85px;
}

#footer {
    background: white;
    position: relative;
}

    /*footer top*/

    /*/footer top*/

/*/footer*/
/*=================================================login.php==============================================*/
.get_quantity {
    border: 1px solid black;
    height: 40px;
    width: 160px;
    padding: 0;
    margin: 0;
}

.plus, .minus, .quantity {
    border-radius: 0px;
    border: none;
    height: 100%;
}

.plus {
    border-right: 1px solid black;
}

.minus {
    border-left: 1px solid black;
}

.plus, .minus {
    width: 40px;
    background: grey;
}

.quantity {
    width: 80px;
}

.quantity:focus {
    outline: none;
}

#btn_add_card {
    width: 160px;
}

/*shoppping cart*/
.cart_table_title {
    color: #fff;
    font-size: 14px;
}

.cart_table tr td {
    font-size: 14px;
}

.cart_table td, .cart_table td a , .cart_table td select {
    font-weight: bolder;
    font-size: 14px;
}

.cart_table td .unit {
    color:red;
}

.cart_table .all_total td {
    font-size: 14px;
    font-weight: bolder;
}
.cart_table .all_total strong {
    color:red;
}

select.quantity  {
    border: 1px solid #FFC24B;
}

/*tab product detail*/
#product_tab {
    border: 1px solid grey !important;
    border-radius: 5px;
}

#product_tab .nav-item {
     border-bottom: 1px solid grey !important;
}
#product_tab .nav-link {
    padding: 20px;
    border:none;
    font-weight: bolder;
    background: #f3f5f6;
    color: grey;
}

#product_tab .nav-item .active{
    border-bottom: 3px  #1266f1 solid;
    background: #f3f5f6;
    color: #1266f1;
}

/*review*/

#formRate textarea {
    padding-right:80px !important;
}

.send_rate {
    border-radius: 10px;
}

.show_rate>.row {
    border-radius: 10px;
}

.rate_edit {
    color:red;
}

.star_rate, .avgStar {
    color:yellow;
}

.rate_name {
    font-weight: bolder;
}

.choose_star .btn {
    width: 25px;
    height: 25px;
    padding: 0;
    border-radius: 10%;
    color:#fff;
    background: #000;
}

.star_selected {
    color:yellow !important;
    background: red !important;
}
